<!DOCTYPE html>
<html>
  <head>
    <title>Arendelle Odyssey - Events</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

    <style>
      table{
        width: 80%;
      }

      table, td, th{
        border: 1px solid black;   
        border-collapse: collapse; 
        margin: auto;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Events list of Arendelle Odyssey</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Starts on</th>
        <th>Ends on</th>
      </tr>
      <% var monthNames = [undefined,'January','February','March','April','May','June','July','August','September','October','November','December'] %> 
      <% sqlresults.forEach(r=>{ %>
        <% console.log(r.id, r.name) %>
        <tr>
          <td><%= r.id %></td>
          <td><%= r.name %></td>
          <td><%= r.description == null ? 'No description' : r.description %></td>
          <% let [startMonth, startDate, startYear] = new Date(r.date_start).toLocaleDateString("en-US").split("/") %>
          <td><%= `${monthNames[startMonth]} ${startDate}, ${startYear}` %></td>
          <% if (r.date_end != null){ %>
            <% let [endMonth, endDate, endYear] = new Date(r.date_end).toLocaleDateString("en-US").split("/") %> 
            <td><%= `${monthNames[endMonth]} ${endDate}, ${endYear}` %></td>
          <% } else { %>
            <td>No end date provided</td>
          <% } %> 
        </tr>
      <% }) %>
    </table>
  </body>
</html>
