<!DOCTYPE html>
<html>
  <head>
    <title>Arendelle Odyssey - Events</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

    <style>
      table{
        width: 80%;
      }

      table, td{
        border: 1px solid black;   
        border-collapse: collapse; 
        margin: auto;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Events list of Arendelle Odyssey</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Starts on</th>
        <th>Ends on</th>
      </tr>
      <% sql.query("SELECT * FROM events ORDER BY date_start DESC", (err, res) => { %> 
        <% if (err) console.error(err) %> 
        <% res.forEach(r=>{ %>
          <% console.log(r) %> 
          <tr>
            <td><%= r.id %></td>
            <td><%= r.name %></td>
            <td><%= r.description == null ? 'No description' : r.description %></td>
            <td><%= r.date_start %></td>
            <td><%= r.date_end == null ? 'No end date provided' : r.description %></td>
          </tr>
        <% }) %>
      <% }) %> 
    </table>
  </body>
</html>
