<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status of <%= client.user.username %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

    <%
      function botuptime(client){
        let totalSeconds = (client.uptime) / 1000;
        return totalSeconds
      }
    %>
  </head>
  <body>
    <h1><%= client.user.username %>'s Status :</h1>
    <p>Bot name: <%= client.user.tag %></p>
    <p id="uptime">Uptime: loading...</p>
    <p>Node.js version: <%= nodever %></p>
    <p>Discord.js version: <%= discordjsver %></p>

    <script>
      var i = 0
      setInterval(() => {
        i++
        var totalSeconds = Number('<%- botuptime(client) %>')+i
        let weeks = Math.floor(totalSeconds / 604800)
        let days = Math.floor(totalSeconds / 86400);
        let hours = Math.floor(totalSeconds / 3600);
        totalSeconds %= 3600;
        let minutes = Math.floor(totalSeconds / 60);
        let seconds = (totalSeconds % 60).toFixed(0);


        var up = `${weeks == 0 ? '' : `${weeks} week${weeks > 1 ? 's' : ''}, `}${days == 0 ? '' : `${days} day${days > 1 ? 's' : ''}, `}${hours == 0 ? '' : `${hours} hour${hours > 1 ? 's' : ''}, `}${minutes == 0 ? '' : `${minutes} minute${minutes > 1 ? 's' : ''}, `}${seconds == 0 ? '' : `${seconds} second${seconds > 1 ? 's' : ''}`}`
        document.getElementById('uptime').innerText = 'Uptime: ' + up
      }, 1000)
    </script>
  </body>
</html>